:root {
  --cor-dia-1: #ffffff;
  --cor-dia-2: #ffffff;

  /* Dia 1 */
  --cor-fundo-questao-1: color-mix(in srgb, var(--cor-dia-1) 90%, black);
  --cor-fundo-questao-2: color-mix(in srgb, var(--cor-dia-1) 70%, black);

  /* Dia 2 */
  --cor-fundo-questao-3: color-mix(in srgb, var(--cor-dia-2) 90%, black);
  --cor-fundo-questao-4: color-mix(in srgb, var(--cor-dia-2) 70%, black);

  /* Cores dos Cadernos do Enem */
  --cor-Amarelo: #ffeb3b;
  --cor-Azul: #2196f3;
  --cor-Branco: #ffffff;
  --cor-Cinza: #9e9e9e;
  --cor-Verde: #4caf50;

  --cor-Rosa: #ec407a;
  --cor-Marrom: #795548;
  --cor-Vermelho: #f44336;
}

/* ---- Cor de Fundo das Linhas das Questões/Respostas ---- */
/* -- Dia 1 -- */
/* Amarelo */
body:has(#select-cor-prova-dia-1 option[value="Amarelo"]:checked) {
  --cor-dia-1: var(--cor-Amarelo);
}
/* Azul */
body:has(#select-cor-prova-dia-1 option[value="Azul"]:checked) {
  --cor-dia-1: var(--cor-Azul);
}
/* Branco */
body:has(#select-cor-prova-dia-1 option[value="Branco"]:checked) {
  --cor-dia-1: var(--cor-Branco);
}
/* Verde */
body:has(#select-cor-prova-dia-1 option[value="Verde"]:checked) {
  --cor-dia-1: var(--cor-Verde);
}
/* -- Dia 2 -- */
/* Amarelo */
body:has(#select-cor-prova-dia-2 option[value="Amarelo"]:checked) {
  --cor-dia-2: var(--cor-Amarelo);
}
/* Azul */
body:has(#select-cor-prova-dia-2 option[value="Azul"]:checked) {
  --cor-dia-2: var(--cor-Azul);
}
/* Branco */
body:has(#select-cor-prova-dia-2 option[value="Branco"]:checked) {
  --cor-dia-2: var(--cor-Branco);
}
/* Cinza */
body:has(#select-cor-prova-dia-2 option[value="Cinza"]:checked) {
  --cor-dia-2: var(--cor-Cinza);
}
/* Verde */
body:has(#select-cor-prova-dia-2 option[value="Verde"]:checked) {
  --cor-dia-2: var(--cor-Verde);
}
/* Rosa */
body:has(#select-cor-prova-dia-2 option[value="Rosa"]:checked) {
  --cor-dia-2: var(--cor-Rosa);
}
/* Marrom */
body:has(#select-cor-prova-dia-2 option[value="Marrom"]:checked) {
  --cor-dia-2: var(--cor-Marrom);
}
/* Vermelho */
body:has(#select-cor-prova-dia-2 option[value="Vermelho"]:checked) {
  --cor-dia-2: var(--cor-Vermelho);
}

/* -- Geral -- */
#fieldset-questoes-respostas-linguagens .div-linha:nth-child(odd),
#fieldset-questoes-respostas-humanas .div-linha:nth-child(odd) {
  background-color: color-mix(in srgb, var(--cor-dia-1) 90%, black);
}
#fieldset-questoes-respostas-linguagens .div-linha:nth-child(even),
#fieldset-questoes-respostas-humanas .div-linha:nth-child(even) {
  background-color: color-mix(in srgb, var(--cor-dia-1) 75%, black);
}
#fieldset-questoes-respostas-natureza .div-linha:nth-child(odd),
#fieldset-questoes-respostas-matematica .div-linha:nth-child(odd) {
  background-color: color-mix(in srgb, var(--cor-dia-2) 90%, black);
}
#fieldset-questoes-respostas-natureza .div-linha:nth-child(even),
#fieldset-questoes-respostas-matematica .div-linha:nth-child(even) {
  background-color: color-mix(in srgb, var(--cor-dia-2) 75%, black);
}
